@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Inter:wght@400;500;600;700&display=swap');

body {
    background: #121212;
}

a {
    color: rgb(152, 185, 235);
    font-family: "Inter";
    background: #232323;
    border-radius: 5px;
    padding: 5px 7px;
}