body {
  padding: 0;
  margin: 0;
  background: white;
  color: #232323;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
#input {
  border: 2px solid #dbdbdb;
  height: 35px;
  width: 230px;
  border-radius: 10px;
  padding: 0px 10px;
}
#input:focus {
  border: 2px solid #ababab;
  outline: none;
}
#output {
  border: 2px solid #e0e0e0;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  min-height: 35px;
  text-align: center;
  line-height: 35px;
  padding: 0px 10px;
  border-radius: 10px;
  color: #232323;
  line-height: 20px;
}
h1 {
  color: #232323;
}
#grammar {
  width: 80%;
  color: #ababab;
}
span {
  font-weight: bold;
  color: #232323;
}
