@font-face {
    font-family: "Hack";
    src: url("Fonts/HackNerdFont-Regular.ttf");
}
* {
    box-sizing: border-box;
}
body {
    padding: 8px;
    margin: 0;
    background: #282c34;
    height: 100vh;
}
.main {
    height: 100%;
    background: transparent;
    font-family: "Hack";
    border: 3px solid #abb2bf;
    box-shadow: 0px 0px 10px -2px #abb2bf;
    border-radius: 10px;
}
